Assets/Font/azuki[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
Assets/Font/07にくまるフォント[[:space:]]SDF[[:space:]]-[[:space:]]Copy.asset filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.13/.Runtime/libburst-llvm-16.dylib filter=lfs diff=lfs merge=lfs -text
Library/PlayerDataCache/OSXUniversal/Data/sharedassets4.assets.resS filter=lfs diff=lfs merge=lfs -text
Library/PlayerDataCache/OSXUniversal/Data/sharedassets8.assets.resS filter=lfs diff=lfs merge=lfs -text
Library/PlayerDataCache/OSXUniversal/Data/sharedassets0.assets.resS filter=lfs diff=lfs merge=lfs -text
Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
